/*
* @Author: Administrator
* @Date:   2017-03-31 14:05:52
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-07 00:53:44
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;

}
a{
	text-decoration: none;

	
}
img{
	display: block;
}
body{
	background: #f5f5f5;
}


.besttop{
	height: 50px;
	background: rgba(204, 1, 1, .9);
	position: fixed;
	top: -50px;
	left: 0;
	z-index: 999;
	transition: all .5s ease;
}
.besttop .con{
	height: 50px;
}
.besttop .con h1{
	font-size: 30px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 50px;
	float: left;
}
.besttop .con h1>span{
	font-size: 20px;
	color: #fff;
}
.besttop .con input{
	float: left;
	padding: 8px;
	outline: none;
	border: 0;
	margin-top: 10px;
	margin-left: 100px;
}
.besttop .con button{
	background: #C40000;
	font-size: 20px;
	border: 0;
	width: 90px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	margin-top: 10px;
	outline: none;

}





header .top{
	height: 32px;
	background: #F2F2F2;
	border: 1px solid #CECECE;	
}
header .top .con{
	height: 32px;
	margin: 0 auto;
}
header .top .con .zuo{
	height: 32px;
	width: 225px;
	float: left;
	line-height: 32px;
	color: #999999;
}
header .top .con .zuo a:nth-of-type(1){
	padding: 0 10px;
} 
header .top .con .zuo a{
	color: #999999;
}
header .top .con .zuo a:hover{
	color:#C40000; 
}
header .top .con .you{
	height: 32px;
	width: 690px;
	float: right;
	line-height: 32px;
	color: #C40000;
}
header .top .con .you>ul>li{
	height: 32px;
	float: left;
	margin-right: 18px;
}
header .top .con .you ul li:nth-child(5){
	color: #999;
}
header .top .con .you ul li a{
	color: #999;
}
header .top .con .you ul li>a:hover{
	color: #C40000;
}

header .top .con .you .yiji{
	height: 32px;
	width: auto;
}
header .top .con .you .yiji>li{
	position: relative;
}

header .top .con .you .yiji .erji{
	position: absolute;
	width: 100px;
	height: auto;
	display: none;
	background: #fff;
	border:1px solid #DEDEDE;
	top: 32px;
	z-index: 999;

}
header .top .con .you .yiji>li:hover .erji{
	display: block;
}
header .top .con .you .yiji .erji>li{
	width: auto;
	height: auto;
}
header .top .con .you .yiji>li:nth-child(1):hover {
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(1) a:hover {
	text-decoration: underline;
}
header .top .con .you .yiji>li:nth-child(4):hover {
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(4) a:hover {
	text-decoration: underline;
}
header .top .con .you .yiji>li:nth-child(6):hover {
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(6) a:hover {
	text-decoration: underline;
}
header .top .con .you .yiji>li:nth-child(9):hover {
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(9) a:hover {
	text-decoration: underline;
}
header .top .con .you .yiji>li:nth-child(10):hover {
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(10) a:hover {
	text-decoration: underline;
}
header .top .con .you .yiji>li:nth-child(6) li{
	left: -60px;
	position: absolute;
	top: -10px;
	background: #fff;
}
header .top .con .you .yiji>li:nth-child(9) .erji{
	left: -105px;
	position: absolute;
	width: 150px;
	color: #333;

}
header .top .con .you .yiji>li:nth-child(10) .erji{
	right: 0;
	top: 32px;
	position: absolute;
	width: 1200px;
	height: 250px;
	background: #fff;
	color: #333;
	z-index: 999;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li{
	height: 200px;
	background: #fff;
	width: auto;
	border-right: 1px solid #DEDEDE;
	margin: 25px 0px;
	float: left;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li img{
	position: absolute;
	top: -10px;
	right: 10px;
	width: 18px;
	height: 10px;
}
header .top .con .you .yiji>li .erji>li a{
	padding-left:10px;
}
header .top .con .you .yiji>li:nth-child(9) .erji>li span{
	padding-left:10px;
}
header .top .con .you .yiji>li:nth-child(9) .erji>li{
	float: left;
}

header .top .con .you .yiji>li:nth-child(10) .erji>li a{
	padding:0 27px;
	color: #333;
	position: relative;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li a:hover{
	text-decoration: underline;
}

header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(2) a{
	padding:0 38px;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(1) a:hover{
	color: #f56a00
}
header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(2) a:hover{
	color: #2f6cd6;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(2) h3{
	padding:0 38px;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(1) h3{
	color: #F56A00;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(2) h3{
	color: #2F6CD6;
}
header .top .con .you .yiji>li:nth-child(10) .erji>li h3{
	padding:0 27px;
	font-size: 16px;
}

header .top .con .you .yiji>li:nth-child(10) .erji>li:nth-child(4){
	border: 0;
}
/* 头完 */
.mid{
	height: 130px;
	background: #fff;
} 
.mid .con{
	height: 130px;
}
.mid .con img{
	float: left;
}

.mid .con form:nth-child(1){
	width: auto;
	height: auto;
	float: left;
	border: 2px solid #c40000;
}
.mid .con form:nth-child(1)>input{
	padding: 10px 10px;
	font-size: 14px;
	outline: none;
	border: 0;
}


.mid .con form:nth-child(2){
	width: auto;
	height: auto;
	background: green;
	float: left;
	text-align: center;
	border: 2px solid #c40000;
}
.mid .con form:nth-child(2)>input{
	padding: 8.6px 40px;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	border: 0;
	background: #c40000;
	color: #fff;
	cursor: pointer;


}
.mid .con .serch{
	width: 625px;
	height: 100px;
	float: left;
	margin-top: 30px;
	margin-left: 100px;

}
.mid .con .serch>ul li{
	float: left;
	padding: 10px 5px;
	font-size: 14px;
}
.mid .con .serch>ul li>a{
	padding: 10px 2px;
	font-size: 14px;
	color: #333;
}
.mid .con .serch>ul li:nth-child(1) a{
	color: #c40000;
}
.mid .con .serch>ul li:nth-child(4) a{
	color: #c40000;
}
.mid .con .serch>ul li:nth-child(7) a{
	color: #c40000;
}
.mid .con .serch>ul li:nth-child(9) a{
	color: #c40000;
}


/* 导航样式1*/
.mid .con1{
	height: 130px;
}
.mid .con1 img{
	float: left;
}
.mid .con1 form:nth-child(1){
	width: auto;
	height: auto;
	float: left;
	border: 2px solid #c40000;
}
.mid .con1 form:nth-child(1)>input{
	padding: 10px 10px;
	font-size: 14px;
	outline: none;
	border: 0;
}


.mid .con1 form:nth-child(2){
	width: auto;
	height: auto;
	background: green;
	float: left;
	text-align: center;
	border: 2px solid #c40000;
}
.mid .con1 form:nth-child(2)>input{
	padding: 8.6px 40px;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	border: 0;
	background: #c40000;
	color: #fff;
	cursor: pointer;


}
.mid .con1 .serch{
	width: 625px;
	height: 100px;
	float: left;
	margin-top: 30px;
	margin-left: 100px;

}
.mid .con1 .serch>ul li{
	float: left;
	padding: 10px 5px;
	font-size: 14px;
}
.mid .con1 .serch>ul li>a{
	padding: 10px 2px;
	font-size: 14px;
	color: #333;
}
.mid .con1 .serch>ul li:nth-child(1) a{
	color: #c40000;
}
.mid .con1 .serch>ul li:nth-child(4) a{
	color: #c40000;
}
.mid .con1 .serch>ul{
	height: auto;
	float: left;
}
/* 导航样式1*/
/* 搜索完 */
/* 导航开始 */
.nav{
	height: 36px;
	background: #DD2727;
}
.nav .con{
	height: 36px;
}
.nav .con .left{
	width: 200px;
	height: 36px;
	background: #C60A0A;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	float: left;
}
.nav .con .left>span{
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}
.nav .con .left>i{
	padding-left: 15px;
}
.nav .con .right>li{
	float: left;
	margin-left: 30px;
	height: auto;
	line-height: 36px;
	position: relative;
	z-index: 0;
}
.nav .con .right li a i{
	font-size: 20px;
}
.nav .con .right>li a{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.nav .con .right>li img{
	position: absolute;
	width: 40px;
	height: auto;
	top: 0px;
	left: 4px;
	transition: all .3s ease;
	z-index: -1;
}
.nav .con .right>li:hover img{
	transform: translateY(-13px);
}
.nav .con .right>li:nth-child(1) img{
	left: 22px;
}
.nav .con .right>li:nth-child(2) img{
	left: 22px;
}
.nav .con .right>li:nth-child(3) img{
	left: 12px;
}
.nav .con .right>li:nth-child(10) img{
	left: 12px;
}
.nav .con .right>li:nth-child(11) img{
	left: 12px;
}
/* right样式1 */
.nav .con .right1>li{
	float: left;
	margin-left: 30px;
	height: auto;
	line-height: 36px;
	position: relative;
	z-index: 0;
}
.nav .con .right1 li a i{
	font-size: 20px;
}
.nav .con .right1>li a{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.nav .con .right1>li img{
	position: absolute;
	width: 40px;
	height: auto;
	top: 0px;
	left: 4px;
	transition: all .3s ease;
	z-index: -1;
}
.nav .con .right1>li:hover img{
	transform: translateY(-13px);
}
.nav .con .right1>li:nth-child(1) img{
	left: 22px;
}
.nav .con .right1>li:nth-child(2) img{
	left: 22px;
}
.nav .con .right1>li:nth-child(3) img{
	left: 12px;
}
/* right样式1 */
/* banner开始 */
.banner{
	height: 500px;
	background: #E8E8E8;
}
.banner .con{
	height: 500px;
/* 	background-image: url(../img/5.jpg);
background-size: cover; */
	position: relative;


}
.banner .con .lun{
	width: 100%;
	height: 100%;
}
.banner .con .lun>li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.banner .con .lun>li:nth-child(1){
	background:url(../img/5-1.webp);
	background-size: cover; 

}
.banner .con .lun>li:nth-child(2){
	background:url(../img/5-2.webp);
	background-size: cover; 

}
.banner .con .lun>li:nth-child(3){
	background:url(../img/5-3.webp);
	background-size: cover; 

}
.banner .con .lun>li:nth-child(4){
	background:url(../img/5-4.jpg);
	background-size: cover; 

}
.banner .con .lun>li:nth-child(5){
	background:url(../img/5-5.jpg);
	background-size: cover; 

}
.banner .con .lun>li:nth-child(6){
	background:url(../img/5-6.jpg);
	background-size: cover; 

}
.banner .con .yuan{
	position: absolute;
	bottom:20px;
	left: 50%;
	transform: translateX(-50%);
}
.banner .con .yuan>li{
	width: 16px;
	height: 16px;
	background: #333;
	float: left;
	margin-left: 18px;
	border-radius: 50%;
	opacity: .3;
	border: 2px solid#333;
	cursor: pointer;

}
/* .banner .con .yuan>li:hover{
	background: #fff;
	opacity: .3;
} */

.banner .con .list{
	width: 200px;
	height: 500px;
	background: #EEECE5;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .con .yiji>li{
	width: 200px;
	height: 31.19px;
	line-height: 32px;
}
.banner .con .yiji>li>a{
	color: #333;
	font-size: 14px;
	margin-left: 10px;
}
.banner .con .yiji>li>i{
	color: #8E8A87;
	font-size: 16px;
	margin-left: 10px;
}
/* 二级隐藏部分 */
.banner .con .yiji>li .erji{
	width: 852px;
	height: 500px;
	background: #FAFAFA;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
}
.banner .con .yiji>li .erji .zuo{
	width: 645px;
	height: 500px;
	background: #fff;
	float: left;
}
.banner .con .yiji>li .erji .you{
	width: 200px;
	height: 500px;
	background: #fff;
	float: right;
}
.banner .con .yiji>li .erji .zuo .sanji>li{
	height: auto;
	line-height: 45px;
	font-size: 14px;





}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(even){
	width: 530px;
	float: right;
	border-bottom: 1px dashed#E6E6E6;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(3){
	height: 90px;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(7){
	height: 90px;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(11){
	height: 90px;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(16){
	border: 0;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(odd){
	margin-left: 20px;
	float: left;
	font-weight: bold;
}
.banner .con .yiji>li .erji .zuo .sanji>li:nth-child(even)>a{
	margin-right: 10px;
	font-size: 14px;
	color: #333;
}


.banner .con .yiji>li:hover .erji{
	display: block;
}
.banner .con .yiji>li:hover{
	background: #fff;
}
/* 变色部分 */
.banner .con .yiji>li:nth-child(4n+1)>a:hover{
	color: #E54077;
	font-weight: bold;
}
.banner .con .yiji>li:nth-child(4n+2)>a:hover{
	color: #4780EF;
	font-weight: bold;
}
.banner .con .yiji>li:nth-child(4n+3)>a:hover{
	color: #694EED;
	font-weight: bold;
}
.banner .con .yiji>li:nth-child(4n+4)>a:hover{
	color: #F7A831;
	font-weight: bold;
}
.banner .con .yiji>li:nth-child(4n+1) .erji .zuo .sanji>li:nth-child(even)>a:hover{
	color: #E54077;
}
.banner .con .yiji>li:nth-child(4n+2) .erji .zuo .sanji>li:nth-child(even)>a:hover{
	color:#4780EF;
}
.banner .con .yiji>li:nth-child(4n+3) .erji .zuo .sanji>li:nth-child(even)>a:hover{
	color: #694EED;
}
.banner .con .yiji>li:nth-child(4n+4) .erji .zuo .sanji>li:nth-child(even)>a:hover{
	color:#F7A831;
}
.banner .con .yiji>li:nth-child(4n+1) .erji .zuo .sanji>li>a:nth-child(2n+1){
	color:#E54077;
}
.banner .con .yiji>li:nth-child(4n+2) .erji .zuo .sanji>li:nth-child(even)>a:nth-child(2n){
	color:#4780EF;
}
.banner .con .yiji>li:nth-child(4n+3) .erji .zuo .sanji>li:nth-child(even)>a:nth-child(3n){
	color:#694EED;
}
.banner .con .yiji>li:nth-child(4n+4) .erji .zuo .sanji>li:nth-child(odd)>a:nth-child(3n+1){
	color:#F7A831;
}
/* 变色部分 */
.banner .con .yiji>li .erji .you .sanji>li{
	width: 98px;
	height: 50px;
	float: left;
	border-bottom: 1px solid#E6E6E6;
	border-right: 1px solid#E6E6E6;

}
.banner .con .yiji>li .erji .you .sanji>li:nth-last-child(1){
	width: 198px;
	height: 80px;
	float: left;
	border-bottom: 1px solid#E6E6E6;
	border-right: 1px solid#E6E6E6;
	margin-top: 10px;

}
.banner .con .yiji>li .erji .you .sanji>li:nth-last-child(1) img{
	width: 198px;
	height: 80px;
}
.banner .con .yiji>li .erji .you .sanji>li img{
	width: 98px;
	height: 50px;
}

/* 两边箭头 */
.banner .con .left,.banner .con .right{
	width: 30px;
	height: 70px;
	background: rgba(0, 0, 0, .1);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	display: none;
	cursor: pointer;

}
.banner .con .left{
	left: 200px;
}
.banner .con .right{
	right: -24px;
}
.banner:hover .left{
	display: block;
}
.banner:hover .right{
	display: block;
}



/* banner结束*/
/* mbar开始 */
.mbar{
	width: 35px;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99999;
}
.mbar .con{
	position: absolute;
	bottom: 0;


}
.mbar .con>li{
	width: 35px;
	height: 35px;
	margin-bottom: 5px;
	text-align: center;
	position: relative;

}
.mbar .con>li>.hei{
	width: 90px;
	height: 35px;
	background: #333;
	position: absolute;
	top: 0;
	left:-120px;
	transition: all .6s ease .1s;
	opacity: 0;
	z-index: 99999999999999999;
	color: #fff;
	text-align: center;
	line-height: 35px;
}
.mbar .con>li>.hei:after{
	content: '';
	
	border-top: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid rgba(0, 0, 0, 0);
	border-left: 7px solid rgba(0, 0, 0, .8);
	border-right: 7px solid rgba(0, 0, 0, 0);
	position: absolute;
	top: 11px;
	right: -14px;
	z-index: 10;
}
.mbar .con>li:nth-child(2) .hei:after{
	border: 0;
}
.mbar .con>li:nth-child(9)>.hei{
	width: 152px;
	height: 209px;
	background: url(../img/93.png) no-repeat;
	background-size: 100%;
	left: -150px;
	top: -150px;
	opacity: 1;
	display: none;
}
.mbar .con>li:nth-child(9)>.hei>img{
	margin: 0 auto;
	padding-top: 40px;
}
.mbar .con>li:nth-child(9)>.hei>p{
	width: 130px;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
	margin: 5px auto;
	line-height: 20px;

}
.mbar .con>li:nth-child(9)>.hei>p>span{
	font-weight: bold;
	font-size: 14px;
	color: yellow;
}
.mbar .con>li:nth-child(2)>a{
	color: #fff;
	width: 27px;
	height: 100px;
	display: block;
	margin: 0 auto;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

.mbar .con>li:nth-child(8){
	margin-top: 60px;
}


/* mbar结束 */

/* 左边bar开始 */
.lbar{
	width: 35px;
	height: auto;
	background: #626262;
	position: fixed;
	bottom: 60px;
	left: 0px;
	z-index: 999;
	transform: scale(0, 0);
	transform-origin: 0 100%;
	transition: all .5s ease;
}
.lbar>a{
	width: 35px;
	height: 35px;
	display: block;
	color: #fff;
	border-bottom: 1px solid#fff;

}
.lbar>a .con{
	width: 24px;
	height: 28px;
	margin: 0 auto;
	transform: translateY(4px)

}
.lbar>a:nth-child(2):hover{
	background: #EA5F8D;
}
.lbar>a:nth-child(3):hover{
	background: #0AA6E8;
}
.lbar>a:nth-child(4):hover{
	background: #64C333;
}
.lbar>a:nth-child(5):hover{
	background: #F15453;
}
.lbar>a:nth-child(6):hover{
	background: #19C8A9;
}
.lbar>a:nth-child(7):hover{
	background: #F7A945;
}
.lbar>a:nth-child(8):hover{
	background: #000;
}



/* 左边bar结束 */
/* su开始 */
.su{
	height: 360px;
	background: #F5F5F5;
}
.su .con{
	height: 360px;
}
.su .con img{
	margin: 0 auto;
	transform: translateY(25px);
}
.su .con .box{
	height: 270px;
	margin-top: 50px;
	display: flex;
}
.su .con .box>div{
	height: 270px;
	margin-left: 12px;
	transition: all .3s ease;
}
.su .con .box>div:hover{
	opacity: .7;
}
.su .con .box>div:nth-child(1){
	background: url(../img/25.webp) no-repeat;
	background-size: 100%;
	margin-left: 0;

}
.su .con .box>div:nth-child(2){
	background: url(../img/26.webp) no-repeat;
	background-size: 100%;

}
.su .con .box>div:nth-child(3){
	background: url(../img/27.webp) no-repeat;
	background-size: 100%;
	
}
.su .con .box>div:nth-child(4){
	background: url(../img/28.webp) no-repeat;
	background-size: 100%;
	
}
.su .con .box>div:nth-child(5){
	background: url(../img/29.webp) no-repeat;
	background-size: 100%;
	
}
/* su完 */
.zhi{
	height: 436px;
	margin-top: 60px;
}
.zhi .con{
	height: 436px;
	background: #fff;
}
.zhi .con .left{
	width: 488px;
	height: 436px;
	background: #050505;
	float: left;
	overflow: hidden;
	position: relative;

}
.zhi .con .left>div{
	float: left;
}
.zhi .con .left .lun{
	width: 390px;
	height: 40px;
	margin: 20px 15px;
}
.zhi .con .left .lun .logo{
	width: 81px;
	height: 34px;
	margin-top: 3px;
	margin-right:5px;
	float: left;
}
.zhi .con .left .lun .logoyou li{
	width: 300px;
	height: 40px;
	float: left;
	transition: all .5s ease;
}
.zhi .con .left .lun .logoyou li:nth-child(1){
	margin-top: 0;
}
.zhi .con .left .lun .logoyou{
	width: 300px;
	height: 40px;
	float: left;
	overflow: hidden;
}
.zhi .con .left .lun .logoyou li>p{
	color: #fff;
	font-size: 14px;
}

.zhi .con .left>div:nth-child(1){
	width: 100%;
	height: 275px;
	background: url(../img/79.webp) no-repeat;
	background-size: 100%;
	position: relative;
}
.zhi .con .left>div:nth-child(1)>img{
	width: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: all .2s ease;
	

}.zhi .con .left>div:nth-child(1):hover>img{
	transform: scale(1.1, 1.1);
}
.zhi .con .left .sonba{
	width: 976px;
	height: 90px;
	transition: all .5s linear;
}
.zhi .con .left>img{
	position: absolute;
	cursor: pointer;
}
.zhi .con .left .zuo{
	top: 280px;
	left: 0;
	display: none;
}
.zhi .con .left .you{
	top: 280px;
	right: 0px;
}
.zhi .con .left .sonba .son{
	width: 160px;
	height: 90px;
	position: relative;
	margin: 4px 0;
	float: left;
}
.zhi .con .left .son>img{
	width: 36px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: all .3s ease;
}

 .con .left .sonba>div:nth-child(1){
 	background: url(../img/79.webp) no-repeat;
 	background-size: 100%;
 }
 .con .left .sonba>div:nth-child(2){
 	background: url(../img/80.webp) no-repeat;
 	background-size: 100%;
 }
 .con .left .sonba>div:nth-child(3){
 	background: url(../img/81.webp) no-repeat;
 	background-size: 100%;
 }
  .con .left .sonba>div:nth-child(4){
 	background: url(../img/82.webp) no-repeat;
 	background-size: 100%;
 }
 .con .left .sonba>div:nth-child(5){
 	background: url(../img/83.webp) no-repeat;
 	background-size: 100%;
 }
 .con .left .sonba>div:nth-child(6){
 	background: url(../img/84.webp) no-repeat;
 	background-size: 100%;
 }
.zhi .con .right{
	height: 100%;
	width: calc(100% - 488px);
	background: #fff;
	float: right;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}
.zhi .con .right>div{
	width: 121px;
	height: 108px;
	background: #fff;
	position: relative;
}

.zhi .con .right>div .son{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	transition: all .5s ease;
	

}
.zhi .con .right>div:hover .son{
	opacity: 1;
}
.zhi .con .right>div .son i{
	color: #f5f5f5;
	float: right;
	padding: 10px 10px 0 0;
}
.zhi .con .right>div>.son>h3{
	color: #fff;
	font-weight: normal;
	margin-top: 39px;
	margin-bottom: 7px;
	font-size: 13px;
}
.zhi .con .right>div .son a{
	width: 63px;
	height: 18px;
	display: block;
	color: #fff;
	border-radius: 33px;
	background: red;
	margin: 0 auto;
	line-height: 18px;
}
.zhi .con .right>div img{
	margin: 0 auto;
	margin-top: 29px;
}
.zhi .con .right>div:nth-child(19)>h3{
	color: #999;
	font-size: 12px;
	font-weight: normal;
	text-align: center;

}
.zhi .con .right>div:nth-child(19) .son>h3{
	text-align: center;
	margin: 0; 
}.zhi .con .right>div:nth-child(19) .son>img{
	transition: all 1s ease;
}
.zhi .con .right>div:nth-child(19) .son:hover>img{
	transform: rotate(-360deg);
}
/* zhi完 */



/* 玩开始 */
.wan{
	height: 477px;
	margin-top: 30px;
}
.wan .con{
	height: 477px;
	display: flex;
}
.wan .con .box{
	width: 25%;
	height: 100%;
	margin-left: 10px;
}
.wan .con .box:nth-child(1){
	margin-left: 0;
}
.wan .con .box .top{
	height: 36px;
	background: #DD2727;
	display: flex;
	justify-content: center;
	line-height: 36px;
	color: #fff;
}
.wan .con .box .top h3{
	font-size: 20px;
}
.wan .con .box .top i{
	padding:0 5px;
	font-size: 20px;
}
.wan .con .box:nth-child(4) .top i{
	font-size: 30px;
}
.wan .con .box .zhong{
	height: 220px;
	background: #fff;
	text-align: center;
}
.wan .con .box .zhong h3{
	font-size: 22px;
}
.wan .con .box>div:nth-child(3) h3{
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
	border-top: 1px solid #f5f5f5;
}
.wan .con .box .zhong h4{
	font-size: 14px;
	font-weight: normal;
	color: #999;
	padding: 3px;
}
.wan .con .box .zhong .img{
	width: 140px;
	height: 140px;
	background: #f5f5f5;
	border-radius: 50%;
	margin: 3px auto;

}
.wan .con .box .zhong .img img{
	transition: all .2s linear;
}

.wan .con .box .zhong .img img:hover{
	transform: scale(1.1, 1.1);
}
.wan .con .box .xia{
	height: 220px;
	background: #fff;
}
/* 中间插图改样式 */

/* 一套 */
.cha{
	height: 90px;
	background: url(../img/67bar.jpg) no-repeat -200px 0;
	background-size: cover;

}
.cha1{
	height: 90px;
	background: url(../img/67bar.jpg) no-repeat -300px 0;
	background-size: cover;

}
/* 二套 */
.cha2{
	height: 90px;
	background: url(../img/69bar.jpg) no-repeat -200px 0;
	background-size: cover;

}
.cha3{
	height: 90px;
	background: url(../img/69bar.jpg) no-repeat -300px 0;
	background-size: cover;

}
/* 三套 */
.cha4{
	height: 90px;
	background: url(../img/68bar.jpg) no-repeat -200px 0;
	background-size: cover;

}
.cha5{
	height: 90px;
	background: url(../img/68bar.jpg) no-repeat -315px 0;
	background-size: cover;

}
/* 四套 */
.cha6{
	height: 90px;
	background: url(../img/70bar.jpg) no-repeat -200px 0;
	background-size: cover;

}
.cha7{
	height: 90px;
	background: url(../img/70bar.jpg) no-repeat -315px 0;
	background-size: cover;

}

/*  */


.chao{
	height: 471px;
	margin-top: 30px;
}
.chao .con{
	height: 471px;
}
.chao .con .left{
	width: 40%;
	height: 31px;
	float: left;
}
.chao .con .left .shu{
	width: 5px;
	height: 20px;
	display: inline-block;
	background: #0AA6E8;
}
.chao .con .left span:nth-of-type(1){
	font-size: 20px;
	padding: 0 5px;
}
.chao .con .left span:nth-of-type(2){
	font-size: 16px;
}
.chao .con .right{
	width: 60%;
	height: 31px;
	float: left;
}
.chao .con .right ul li{
	float: right;
	line-height: 30px;

}
.chao .con .right ul li>a{
	font-size: 14px;
	color: #333;
	margin-left: 15px;
}
.chao .con .right ul li>a:hover{
	text-decoration: underline;
}
.chao .con .xia{
	height: 440px;
	background: #fff;
	float: left;
	width: 100%;
}
.chao .con .xia>a:nth-child(1){
	width: 246px;
	height: 440px;
	background: #fff;
	display: block;
	float: left;
}

.chao .con .xia>a:nth-child(1)~a{
	width: 245px;
	height: 220px;
	background: #fff;
	float: left;
	position: relative;
	box-sizing: border-box;
	border-top: 1px solid#f5f5f5;
	border-right: 1px solid#f5f5f5;

}
.chao .con .xia>a:nth-child(1)~a>h3{
	color: #333;
	font-size: 20px;
	margin: 25px 0 10px 25px;
}
.chao .con .xia>a:nth-child(1)~a>h4{
	color: #0AA6E8;
	font-size: 14px;
	font-weight: normal;
	margin-left: 25px;
}
.chao .con .xia>a:nth-child(1)~a>img{
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all .2s linear;
}
.chao .con .xia>a:nth-child(1)~a:hover>img{
	transform: translateX(-6px);
}
.chao .con .xia>a:nth-child(3){
	border-top: none;
}
.chao .con .xia>a:nth-child(1)>div{
	width: 100%;
	height: calc(100% - 330px);
	background: #EA5F8D;
	text-align: center;
	position: relative;
}
.chao .con .xia>a:nth-child(1)>div>div{
	width: 100%;
	height: 30px;
	background: rgba(255, 255, 255, .8);
	position: absolute;
	top:-30px;
	left: 0; 
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	color: #333;

}

.chao .con .xia>a:nth-child(1)>div>h1{
	font-size: 24px;
	color: #fff;
	letter-spacing: -1px;
	padding-top:20px;
}
.chao .con .xia>a:nth-child(1)>div>h4{
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	padding-top: 5px;
}
.chao .con .xia>a:nth-child(1)>div>img{
	
	margin: 0 auto;
	margin-top: 5px;
	
}
.chao .con .xia>a:nth-child(1):hover>img{
	opacity: .7;
}
.chao .con .xia>a:nth-child(1)>img{
	transition: all .5s ease;
}
.chao .con .xia>a:nth-child(1):hover>div>div{
	color: #DD2727;
}
.chao .con .xia>a:nth-child(1) .ming{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.chao .con .xia>a:nth-child(1) .ming .zi{
	width: 100%;
	height: auto;
	position: absolute;
}
/* 猜你喜欢 */
.xin{
	height: 60px;
}
.xin .con{
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.xin .con>span{
	font-size: 20px;
	color: gray;
	position: relative;
}
.xin .con>i{
	color: red;
	font-size: 20px;
}
.xin .con>span:before{
	content: '';
	width: 30px;
	height: 1px;
	background: gray;
	position: absolute;
	top: 50%;
	left: -65px;
}
.xin .con>span:after{
	content: '';
	width: 30px;
	height: 1px;
	background:  gray;
	position: absolute;
	top: 50%;
	right: -35px;
}

/* 一列 */


.lie{
	height: auto;
	margin-bottom: 20px;
}
.lie .con{
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.lie .con .son{
	width: 19.5%;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.lie .con .son:hover{
	border: 1px solid red;
}

.lie .con .son .shang{
	width: 100%; 
}
.lie .con .son .xia{
	height: 69px;
	width: 87%;
	margin: 10px auto;
}
.lie .con .son .xia>p{
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	line-height: 20px;
	color: gray;
	height: 40px;
	margin: 3px 0;
}
.lie .con .son .xia>span{
	color: red;
	font-size: 18px;

}


/* end */
.end .con{
	height: 70px;

}
.end .con>img{
	margin: 8px auto;
	width: 90px;
}


/* qitian */
.footer{
	height:auto;
	background: #fff;
}
.footer .con{
	 height: auto;
}
.footer .con .tu{
	padding: 15px 0; 
}
.footer .con .xia{
	width: 100%;
	height: 213px;
	border-top: 1px solid #EDEDED;
}
.footer .con .xia>ul{
	float: left;
	width: 20%;
	margin: 0 auto;

}
.footer .con .xia>ul>li{
	text-align: center;
	margin: 5px 0;
}
.footer .con .xia>ul>li:nth-child(1){
	font-size: 18px;
	font-weight: bold;
	color: #646464;
	padding-top: 20px;

}
.footer .con .xia>ul>li>a{
	color: #8B8BA8;

}
.foothei{
	background: #000;
	height: 200px;
	border-top: 2px solid red;
	position: relative;
	z-index: 0;
}
.foothei .mao{
	position: absolute;
	top: -26px;
	left: 220px;
}

.foothei .con{
	/* padding-left: 60px; */
}
.foothei .con>p{
	padding:10px 5px 10px 0;
	color: #fff;

}

.foothei .con p>a{
	color: #fff;
	margin-right: 1px;
}
.foothei .con .xia{
	height: 111px;
	color: #A4A4A4;
}
.foothei .con .xia .n3>a{
	margin-right: 83px;
	color: #A4A4A4;
}
.foothei .con .xia .n4>a{
	margin-right: 83px;
	color: #A4A4A4;
}
.foothei .con .xia .n4{
	padding: 5px 0;
}
.foothei .con .xia .n4>a img{
	display: inline-block;
}

.foothei .con .xia>b{
	color: #686868;
}
.foothei .con .xia .n5>a img{
	display: inline-block;
}
.foothei .con .xia .n5>a{
	margin: 15px 10px 0 0;
	display: inline-block;
}


