
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1490696299428'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1490696299428#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1490696299428') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1490696299428') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1490696299428#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:28px;
  font-style:normal;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-konggouwuche:before { content: "\e601"; }

.icon-shouji:before { content: "\e625"; 
color:#CDCAC8;
font-size: 32px;}

.icon-sim:before { content: "\e602"; color:#CDCAC8;
font-size: 32px;}

.icon-charge:before { content: "\e62b"; color:#CDCAC8;
font-size: 32px;}

.icon-15tian:before { content: "\e605"; }

.icon-7tian:before { content: "\e606"; }

.icon-didian:before { content: "\e60a"; }

.icon-libao:before { content: "\e661"; }


.icon-libao1:before { content: "\e63c";color:#CDCAC8; 
font-size: 32px;}

.icon-yijiuhuanxin:before { content: "\e603"; color:#CDCAC8;
font-size: 32px;}

.icon-fangdajing1:before { content: "\e600"; 
  line-height: 50px;
  font-size: 45px;
  float: right;
}

.icon-lanmaofenleiyiyuangou:before { content: "\e72c"; 

color:#CDCAC8;
font-size: 32px;}

.icon-banshou:before { content: "\e659"; }

